<div style="background-color: black;"><app-header></app-header>
<div style="height: 60%;width:100%;background-color: black">
        <h1 style="text-align:center;color:#B45C28">FANTASY</h1>
    <div class="container">
    <hr>
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-6"><a href="http://fanfox.net/manga/fairy_tail/v01/c001/1.html">
                <img src="../../assets/actionfairy.png" alt="" class="img-responsive"></a>
                </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <h2 class="text-uppercase" style="color: #CA2D59">FAIRY TAIL</h2>
                <p>Fairy Tail is a Japanese manga series written and illustrated by Hiro Mashima. It was serialized in Kodansha's Weekly Shōnen Magazine from August 2, 2006 to July 26, 2017, with the individual chapters collected and published into 63 tankōbon volumes. The story follows the adventures of Natsu Dragneel, a member of the popular wizard guild Fairy Tail, as he searches the fictional world of Earth-land for the dragon Igneel.</p>
            </div>
        </div>
    <hr>
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12">
                <h2 class="text-uppercase"style="color:#CA2D59;">BLACK CLOVER</h2>
                <p>Black Clover is a Japanese manga series written and illustrated by Yūki Tabata. It has been serialized in Shueisha's Weekly Shōnen Jump magazine since February 16, 2015, and has been collected into 21 tankōbon volumes. The story centers around Asta, a young boy seemingly born without any magic power, something that is unknown in the world he lives in. With his fellow mages from the Black Bulls, Asta plans to become the next Wizard King.

                        The manga has been adapted into an original video animation produced by Xebec, which was released in 2017, as well an anime television series produced by Pierrot, which also premiered in Japan in 2017.</p>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12"><a href="http://fanfox.net/manga/black_clover/v00/c001/1.html">
                <img src="../../assets/actionclover.jpg" alt="" class="img-responsive"></a>
                </div>
            </div>
        <hr>
        
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-6"><a href="http://fanfox.net/manga/death_note_coloured/v01/c001/1.html">
                <img src="../../assets/actiondeath.jpg" alt="" class="img-responsive"></a>
                </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <h2 class="text-uppercase" style="color: #CA2D59">DEATH NOTE</h2>
                <p>The story follows Light Yagami, a teen genius who stumbles across a mysterious otherworldly notebook: the "Death Note", which belonged to the Shinigami Ryuk, and grants the user the supernatural ability to kill anyone whose name is written in its pages. The series centers around Light's subsequent attempts to use the Death Note to carry out a world-wide massacre of those whom he deems morally unworthy of life to change the world into a utopian society without crime using the alias of a god-like vigilante named "Kira" ("キラ", the Japanese transliteration of the English word: killer) and the subsequent efforts of an elite task-force of law enforcement officers, consisting of members of the Japanese police force led by L, an enigmatic international detective whose past is shrouded in mystery, to apprehend him and end his reign of terror.
                    </p></div>
        </div><hr>
    </div>
    </div>
<app-footer></app-footer>
</div>