<div style="background-color: black;"><app-header></app-header>
<div style="height: 60%;width:100%;background-color: black">
        <h1 style="text-align:center;color:#B45C28">SUPERNATURAL</h1>
    <div class="container">
    <hr>
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-6"><a href="http://fanfox.net/manga/bleach/v00/c000/1.html">
                <img src="../../assets/actionbleach.jpg" alt="" class="img-responsive"></a>
                </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <h2 class="text-uppercase" style="color: #CA2D59">BLEACH</h2>
                <p>Bleach  is a Japanese shōnen manga series written and illustrated by Tite Kubo that started an entire franchise, including an anime series. Bleach follows the adventures of the hotheaded teenager Ichigo Kurosaki, who inherits his parents' destiny after he obtains the powers of a Soul Reaper (literally 'Death God')—a death personification similar to the Grim Reaper—from another Soul Reaper, Rukia Kuchiki. His new-found powers force him to take on the duties of defending humans from evil spirits and guiding departed souls to the afterlife, and set him on journeys to various ghostly realms of existence.</p>
            </div>
        </div>
    <hr>
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12">
                <h2 class="text-uppercase"style="color:#CA2D59;">ONE PIECE</h2>
                <p>One Piece is a Japanese manga series written and illustrated by Eiichiro Oda. It has been serialized in Shueisha's Weekly Shōnen Jump magazine since July 22, 1997, and has been collected into 93 tankōbon volumes. The story follows the adventures of Monkey D. Luffy, a boy whose body gained the properties of rubber after unintentionally eating a Devil Fruit. With his crew of pirates, named the Straw Hat Pirates, Luffy explores the Grand Line in search of the world's ultimate treasure known as "One Piece" in order to become the next Pirate King.</p>
            </div>
                <div class="col-md-6 col-sm-6 col-xs-12"><a href="http://fanfox.net/manga/one_piece/v01/c001/1.html">
                <img src="../../assets/actionone.png" alt="" class="img-responsive"></a>
                </div>
            </div>
        <hr>
        
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-6"><a href="http://fanfox.net/manga/inazuma_eleven/v01/c001/1.html">
                <img src="../../assets/actioninazuma.jpg" alt="" class="img-responsive"></a>
                </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <h2 class="text-uppercase" style="color: #CA2D59">INAZUMA ELEVEN</h2>
                <p>Endou Mamoru is a cheerful goalkeeper in Raimon Jr High, with six other players in the team. But there was a day when the team was almost lead to disbandment by Natsumi unless they are to win the match against the Teikoku Gakuen, currently the best team of Japan. He tried to save the club by gathering four more players to the team. In the second series, Endou and Raimon had to gather players from all over Japan to defeat the new enemies, Aliea Gakuen. In the third series, the Football Frontier International was announced, and Inazuma Japan was assembled, the coach being Kudou Michiya.
                    </p></div>
        </div><hr>
    </div>
    </div>
<app-footer></app-footer>
</div>