<div style="background-color: black;"><app-header></app-header>
<div style="height: 60%;width:100%;background-color: black">
        <h1 style="text-align:center;color:#B45C28">ACTION</h1>
    <div class="container">
    <hr>
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-6"><a href="http://fanfox.net/manga/dragon_ball/v01/c001/1.html">
                <img src="../../assets/actiondb.jpg" alt="" class="img-responsive"></a>
                </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <h2 class="text-uppercase" style="color: #CA2D59">DRAGON BALL Z</h2>
                <p>Dragon Ball Z continues the adventures of Goku, who, along with his companions, defend the Earth against villains ranging from aliens (Frieza), androids (Cell) and other creatures (Majin Buu). While the original Dragon Ball anime followed Goku from childhood to early adulthood, Dragon Ball Z is a continuation of his adult life, but at the same time parallels the life of his son, Gohan, as well as the development of his rival Vegeta.
                    </p></div>
        </div>
    <hr>
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12">
                <h2 class="text-uppercase"style="color:#CA2D59;">NARUTO</h2>
                <p>The world of Earth-land is home to numerous guilds where wizards[3] apply their magic for paid job requests. Natsu Dragneel, a dragon slayer wizard from the Fairy Tail guild, explores the Kingdom of Fiore in search of his missing adoptive father, the dragon Igneel. 
                    During his journey, he befriends a young celestial wizard named Lucy Heartfilia and invites her to join Fairy Tail. Lucy forms a team with Natsu and his cat-like Exceed partner, Happy, which is joined by other guild members: Gray Fullbuster, an ice wizard; Erza Scarlet, a magical knight;
                     and Wendy Marvell and Carla, another dragon slayer and Exceed duo. The team embark on numerous missions together, which include subduing criminals, illegal dark guilds, and ancient Etherious demons created by the immortal dark wizard Zeref.</p>
            </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                <a href="http://fanfox.net/manga/naruto/v01/c000/1.html"><img src="../../assets/actionnaruto.jpg" alt="" class="img-responsive">
                </a></div>
            </div>
        <hr>
        
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-6"><a href="http://fanfox.net/manga/tokyo_ghoul/v01/c001.2/1.html">
                <img src="../../assets/actiontokyo.png" alt="" class="img-responsive"> </a>
                </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <h2 class="text-uppercase" style="color: #CA2D59">TOKYO GHOUL</h2>
                <p> Tokyo Ghoul is a Japanese dark fantasy manga series written and illustrated by Sui Ishida. It was serialized in Shueisha's seinen manga magazine Weekly Young Jump between September 2011 and September 2014, and it has been collected in fourteen tankōbon volumes as of August 2014. A sequel titled Tokyo Ghoul:re was serialized in the same magazine between October 2014 and July 2018, and was later collected into sixteen tankōbon volumes.</p>
            </div>
        </div><hr>
    </div>
    </div>  
    <app-footer></app-footer>
    </div>